@using ProgettoContatti.BL
@using ProgettoContatti.DAL.Filtri
@using ProgettoContatti.ENTITY
@using ProgettoContatti.ENTITY.Enums
@using ProgettoContatti.WebApp.Services
@page "/persone"

<div style="width: 100%">
    <h1>Persone</h1>
    <br />
    <input type="text" id="txtFiltroNome" class="bigTextBox" placeholder="Nome..." @bind-value="Filtri.Nome" />
    <input type="text" id="txtFiltroCognome" class="bigTextBox" placeholder="Cognome..." @bind-value="Filtri.Cognome" />
    <input type="text" id="txtFiltroDataDiNascitaDa" class="bigTextBox" placeholder="Ricerca per anno di nascita da..." @bind-value="Filtri.RangeAnnoNascitaDa" />
    <input type="text" id="txtFiltroDataDiNascitaA" class="bigTextBox" placeholder="Ricerca per anno di nascita a..." @bind-value="Filtri.RangeAnnoNascitaA" />
    <input type="text" id="txtFiltroEtaDa" class="bigTextBox" placeholder="Ricerca per età da..." @bind-value="Filtri.RangeEtaDa" />
    <input type="text" id="txtFiltroEtaA" class="bigTextBox" placeholder="Ricerca per età a..." @bind-value="Filtri.RangeEtaA" />


    <select placeholder="Genere..." id="selectGenere" class="" @bind="@FiltroGenere">
        <option value="0">Tutti</option>
        <option value="1">@Utility.GetDisplayName(EGenerePersona.Maschio)</option>
        <option value="2">@Utility.GetDisplayName(EGenerePersona.Femmina)</option>
        <option value="3">@Utility.GetDisplayName(EGenerePersona.NonDefinito)</option>
    </select>

    <button @onclick="@Cerca">Cerca</button>
    <br />
    <br />
<table class="styled-table">
        <tr>
            <th><span style="color: black; font-weight: bold;">Nome </span></th>
            <th><span style="color: black; font-weight: bold;">Cognome </span></th>
            <th><span style="color: black; font-weight: bold;">Sesso </span></th>
            <th><span style="color: black; font-weight: bold;">Età </span></th>
            <th><span style="color :black">Data di Nascita </span></th>
            <th><span style="color :black">Contatti </span></th>

        </tr>
        @foreach (var persona in persone)
        {
            <tr>
                <td><span style="color: black; font-weight: bold;"> </span>@persona.Nome</td>
                <td><span style="color: black; font-weight: bold;"> </span>@persona.Cognome</td>
                <td><span style="color: black; font-weight: bold;"> </span>@persona.Genere</td>
                <td><span style="color: black; font-weight: bold;"> </span>@persona.Eta</td>
                <td><span style="color :black"> </span>@persona.DataDiNascita.ToString("dd/MM/yyyy")</td>
                <td><a style="color:darkblue; text-decoration:underline; cursor:pointer" @onclick="(() => VisualizzaContatti(persona.IdPersona, persona.Nome, persona.Cognome))">Contatti</a></td>
            </tr>
        }
    </table>
</div>






@code {
    private int FiltroGenere = 0;
    public DataProvider DataProvider { get; set; } = new DataProvider();
    List<Persona> persone { get; set; } = new List<Persona>();
    List<Contatto> contatti { get; set; } = new List<Contatto>();
    protected PersonaFM Filtri = new PersonaFM();

    @inject NavigationManager Navigation

    public void Cerca()
    {
        if (FiltroGenere == 0)
            Filtri.Genere = null;
        else
            Filtri.Genere = (EGenerePersona)FiltroGenere;

        persone = DataProvider.GetPersone(Filtri);
    }

    protected void VisualizzaContatti(int idPersona,string nomePersona, string cognomePersona)
    {
        Navigation.NavigateTo(string.Format("persona-contatti/{0}/{1}/{2}", idPersona.ToString(), nomePersona, cognomePersona));
    }
    protected override void OnInitialized()
    {
        Cerca();
    }

}

